@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.menu {
  height: 95vh;
  overflow: hidden;

  .item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;

    .title {
      font-size: 12px;
      font-weight: 200;
      color: var(--soft-color);
      text-transform: uppercase;

      @include lg{
        display: none;
      }
    }

    .listItem {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
      border-radius: 5px;

      &:hover {
        background-color: var(--soft-bg);
      }

      img {
        filter: invert(33%) sepia(7%) saturate(1194%) hue-rotate(181deg) brightness(97%) contrast(88%);
      }

      .listItemTitle {
        @include lg{
          display: none;
        }
      }
    }
  }
}

.menu:hover {
  overflow: auto;
}
