@import "./variables.scss";
@import "./responsive.scss";

@each $theme-name, $theme-variables in $themes {
  .main[app-theme="#{$theme-name}"] {
    @each $variable-name, $variable-value in $theme-variables {
      --#{$variable-name}: #{$variable-value};

      @if ($variable-name == "primary") {
        --#{$variable-name}-dark: #{darken($variable-value, 10%)};
        --#{$variable-name}-darker: #{darken($variable-value, 20%)};
      }
    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  font-family: "Inter", sans-serif;
  height: 100%;
  color: var(--main-color);
  background-color: var(--main-bg);
}

.container {
  display: flex;
}

.menuContainer {
  width: $menu-size;
  padding: 5px 0px 5px 20px;
  border-right: 2px solid var(--soft-bg);

  @include lg{
    width: max-content;
  }
}

.contentContainer {
  padding: 5px 20px;
  width: calc(100vw - $menu-size);
}
