@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

@each $theme-name, $theme-variables in $themes {
  .home[app-theme="#{$theme-name}"] {
    @each $variable-name, $variable-value in $theme-variables {
      --#{$variable-name}: #{$variable-value};

      @if ($variable-name == "primary") {
        --#{$variable-name}-dark: #{darken($variable-value, 10%)};
        --#{$variable-name}-darker: #{darken($variable-value, 20%)};
      }
    }
  }
}

.home {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    text-align: center;

    .header {
      font-size: 5em;
      line-height: 1em;
      color: var(--soft-color);
      text-transform: uppercase;
    }

    h4 {
      font-size: 30px;
      font-weight: 400;
      margin: 20px 0px;
      color: var(--soft-color);
    }

    p {
      font-size: 20px;
      font-weight: 200;
      color: var(--soft-color);
      margin-bottom: 20px;
      display: inline;

      .hightlight {
        color: #f65039;
      }
    }

    .icons i {
      font-size: 100px;
      margin: 20px 40px;
    }

    .icons i:first-of-type {
      margin-left: 0;
      color: #6690fb;
    }

    .icons i:nth-child(2) {
      color: #04AA6D;
    }

    .icons i:last-of-type {
      margin-right: 0;
      color: #fec304;
    }
  }
}
