@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.navbar {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 10px;
  }
  .icons {
    display: flex;
    align-items: center;
    gap: 20px;

    .headerSearchItem {
      position: relative;

      .headerSearchText {
        cursor: pointer;
        height: 42px;
        width: 200px;
        font-size: 14px;
      }

      .date {
        position: absolute;
        left: -60px;
        top: 50px;
        z-index: 1;
      }
    }

    .filterFactory {
      color: #3e484f;
      width: 200px;

      .css-13cymwt-control {
        cursor: pointer;
        background-color: #efefef;
      }
    }

    .icon{
      @include sm{
        display: none;
      }
    }

    .notification {
      position: relative;

      span {
        background-color: red;
        color: white;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        position: absolute;
        top: -10px;
        right: -10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
      }
    }

    .theme {
      cursor: pointer;
    }

    .user {
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        width: 26px;
        height: 26px;
        border-radius: 50%;
        object-fit: cover;
      }

      i {
        cursor: pointer;
      }
    }
  }
}
